@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";

}
<style>
    body {
        background-image: linear-gradient(180deg, #b7a2c0, white)
    }

</style>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert"> @TempData["ErrorMessage"] </div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert"> @TempData["SuccessMessage"] </div>
}
<div class="login-form">
    <h2>تغییر رمز</h2>
    <form method="post" asp-controller="Card" asp-action="ChangeCardPassword">
        <input name="newPassword" id="newPassword" type="password" placeholder="رمز جدید" required />
        <input name="repetedNewPassword" id="repetedNewPassword" type="password" placeholder="تکرار رمز" required />
        <button type="submit">تغییر</button>

    </form>
</div>
